



<footer>
    <div class="footertopcontainer">
        <div class="footerdiv1">
            <p>Subscribe to our newsletter</p>
            <form class="footerform" action="#">
                <input class="footerinput" id="footerinput" type="text" placeholder="Enter your email address">
                <button class="footerbutton">Join now</button>
            </form>
        </div>
        <div class="footerdiv2">
            <p>Follow us:</p>
            <a href="https://www.facebook.com/"><img src="images/FBIcon.svg" alt=""></a>
            <a href="https://www.instagram.com/"><img src="images/IGIcon.svg" alt=""></a>
            <a href="https://twitter.com/?lang=en"><img src="images/TwtrIcon.svg" alt=""></a>

        </div>
    </div>
    <div class="footerdiv3">
        <a href="#"> About Us</a>
        <a href="#"> Contact Us</a>
        <a href="#"> FAQs</a>
        <a href="#"> Privacy Polocy</a>
        <a href="#"> Return Policy</a>
        <a href="#"> Cancellation Policy</a>
        <a href="#">Terms & Conditions</a>

    </div>
</footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
</body>
</html>


